<!--  -->
{% extends "base.html" %}

<!--  -->
{% block title %}About{% endblock title %}

<!--  -->
{% block body %}

<!-- hero section -->
<div class="hero-banner">About Page</div>

<!-- main content -->
<div class="info-heading">
    <h2>All the Info about us</h2>
</div>

<!-- info about website -->
<div class="info-section">
    <!-- creator section -->

    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Creator of WebDeV</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/about">Read more...</a>
    </div>

    <!-- idea section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Idea, behind WebDeV</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/about">Read more...</a>
    </div>

    <!-- history section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>History of WebDev</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/about">Read more...</a>
    </div>

    <!-- mods section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Mods of WebDev</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/about">Read more...</a>
    </div>

    <!-- Wprkers section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Workers of WebDev</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/about">Read more...</a>
    </div>

    <!-- something section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Something of WebDev</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/about">Read more...</a>
    </div>
</div>

<div class="back-to-top">
    <a href="#">Back to Top</a>
</div>

{% endblock body %}
