<!-- template extension -->
{% extends "base.html" %}

<!-- title setup -->
{% block title %} Products {% endblock title %}

<!-- body setup -->
{% block body %}

<!-- hero section -->
<div class="hero-banner">Products Page</div>

<!-- main content -->
<div class="info-heading">
    <h2>Product listing</h2>
</div>

<!-- info about products -->
<div class="info-section">
    <!--  -->

    <!-- Apparels section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Apparels</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/products">Read more...</a>
    </div>

    <!-- Electronics section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Electronics</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/products">Read more...</a>
    </div>

    <!-- Smartphones section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Smartphones</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/products">Read more...</a>
    </div>

    <!-- Fashion section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Fashion</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/products">Read more...</a>
    </div>

    <!-- Shoes section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Shoes</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/products">Read more...</a>
    </div>

    <!-- Stationary section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Stationary</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/products">Read more...</a>
    </div>
</div>

<div class="back-to-top">
    <a href="#">Back to Top</a>
</div>

{% endblock body %}
