<!-- template extension -->
{% extends "base.html" %}

<!-- title setup -->
{% block title %} Services {% endblock title %}

<!-- body setup -->
{% block body %}

<!-- hero section -->
<div class="hero-banner">Services Page</div>

<!-- main content -->
<div class="info-heading">
    <h2>Services listing</h2>
</div>

<!-- info about services -->
<div class="info-section">
    <!--  -->

    <!-- API section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>API</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/services">Read more...</a>
    </div>

    <!-- Selling section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Sell your products</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/services">Read more...</a>
    </div>

    <!-- Blog section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Blog</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/services">Read more...</a>
    </div>

    <!-- Build section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Build your website</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/services">Read more...</a>
    </div>

    <!-- Collaboration section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Collaboration</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/services">Read more...</a>
    </div>

    <!-- Documentation section -->
    <div class="info-card">
        <div class="info-card-image"></div>
        <h4>Documentation</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia
            maxime dolores est qui. Modi aliquam natus laboriosam repellat
            consequuntur!
        </p>
        <a href="/services">Read more...</a>
    </div>
</div>

<div class="back-to-top">
    <a href="#">Back to Top</a>
</div>

{% endblock body %}
